In [ ]:
# DBSCAN
import pandas as pd
data = pd.read_csv('/content/Mall_Customers.csv')

In [ ]:
data.head()

   CustomerID   Genre  Age  Annual_Income_(k$)  Spending_Score
0           1    Male   19                  15              39
1           2    Male   21                  15              81
2           3  Female   20                  16               6
3           4  Female   23                  16              77
4           5  Female   31                  17              40

In [ ]:
from sklearn.cluster import DBSCAN
dbscan = DBSCAN(eps=6, min_samples=7, metric='euclidean')

In [ ]:
# X and Y
X = data.iloc[:,[3,4]].values
Y = data.iloc[:,-1].values

In [ ]:
model = dbscan.fit(X)
label = model.labels_
print(label)

[-1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1
 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1  0 -1  0  0  0
  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0
  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0
  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0
  0  0  0  1 -1  2 -1  1  3  2  3  2 -1  2  3  1  3  2  3  2  3  1 -1  1
  3  1 -1  2 -1  1 -1  1 -1  2 -1  1  3  2  3  2 -1  1  3  1 -1 -1 -1  1
 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1
 -1 -1 -1 -1 -1 -1 -1 -1]

In [ ]:
# Scatter plot
import matplotlib.pyplot as plt